.movie-сard {
    position: relative;
    margin-top: 36px;
    padding: 10px;
    width: 470px;
    height: 250px;
    box-shadow: 0px 0px 10px rgb(224, 224, 224);
}

.movie-сard__loading {
    text-align: center;
    margin-top: 20%;
}

.movie-сard__loaded {
    min-height: 250px;
    display: grid;
    gap: 15px;
    grid-template-columns: 223px auto;
    grid-template-rows: 125px auto;
    grid-template-areas:
    "image mainInfo"
    "info info";
}

.movie-сard__image {
    grid-area: image;
    max-width: 222px;    
    height:auto;
}

.movie-сard__mainInfo {
    grid-area: mainInfo;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 190px;
}

.mainInfo__name {
    margin: 0;
    font-size: 20px;
}

.mainInfo__date {
    color: #827E7E;
}

.movie-сard__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__paragraph {
    margin: 0;
    max-height: 90px;
    overflow: hidden;
}

.movie-сard__rating {
    position: absolute;
    right: 10px;
    top:10px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    outline: 4px solid rgb(235, 235, 235);
    font-size: 20px;
    text-align: center;
    line-height: 32px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
}

@media screen and (max-width: 1080px) {
    .movie-сard {
        margin: 36px auto 0 auto;
        width: auto;
        min-width: 470px;
    }

    .movie-сard__mainInfo {
        width: auto;
    }

    .mainInfo__name{
        width: auto;
    }
}

@media screen and (max-width: 690px) {
    .movie-сard{
        min-width: 400px;
    }

    .movie-сard__loaded{
        grid-template-columns: 180px auto;
        min-width: 400px;
    }

    .mainInfo__name{
        max-width: 150px;
    }

    .movie-сard__image {
        max-width: 180px;
        padding-top: 15px;
    }
}